.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.openChatBtn{
  margin-top: 30px;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  background-color: rgb(8, 233, 8); 
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 12px 2px rgba(173,173,173,1);
  -moz-box-shadow: 5px 5px 12px 2px rgba(173,173,173,1);
  box-shadow: 5px 5px 12px 2px rgba(173,173,173,1);
}
.openChatBtn:hover{
  background-color: rgb(255, 84, 22);
}
.chatBoxes{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px;
}

